# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Credentials or sensitive data
config.json

*.pt
model.safetensors
